/* Font: RocknRoll One */
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    animation: fade-in 0.8s linear;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#background {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 94%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.half {
    width: 50%;
    height: 100%;
}

.title {
    width: 40%;
    height: 6%;
    margin: auto;
    text-align: center;
    line-height: 42px !important;
    vertical-align: center;
    background: no-repeat center/120% url(../images/side_background.jpg);
    border-radius: 10px;
    font: 1.8vw 'RocknRoll One', sans-serif;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    color: #fff;
}

#hiragana,
#katakana {
    width: 100%;
    height: 94%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.line {
    width: 2px;
    height: 95%;
    background-color: #aaa;
    align-self: center;
}

.bg-row,
.row {
    width: 100%;
    height: calc(100% / 11);
    display: flex;
}

.bg-row:last-child {
    height: calc(100% / 11 * 2);
}

.bg-row:hover {
    animation: smooth 0.3s ease;
    border: 4px solid green;
    border-radius: 24px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    cursor: pointer;
}


@keyframes smooth {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box {
    position: relative;
    width: 20%;
    margin: 5px;
    background: no-repeat center/contain;
}

.smallText {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5vw;
    margin: 0 5px 5px 0;
    font: 1vw sans-serif;
    color: saddlebrown;
    display: none;
}